{% load static %}
{% static "" as baseUrl %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <script rel="stylesheet" src="{% static 'home/js/jquery.min.js' %}"></script>
  </head>
  <style media="screen">
  .card:hover {
background-color: yellow;
  }
  </style>
  <body>

    <div class="container-fluid" style="margin-top:30px;">
    <div class="row" style="padding-bottom:20px;">
      <div class="col-md-12">
        <h3 class="text-center">
          About this system.
        </h3>
        <p class="text-muted">
          In this system,User can transfer points to other users.Also, users can see all the transaction of credits they have made.
          <ul>
            <li>Home page contains names and profile pic of all users</li>
            <li>When we click on users we can see their details along with information about number of credits left.</li>
            <li>Also we can see all the transaction details like when they have given/received credits.</li>
            <li>Also user can transfer credits to other users. Only condition is they should have that many credits.</li>
          </ul>
        </p>
      </div>
    </div>

<h3 class="text-center" style="margin-bottom:30px;">
  Users
</h3>

  <div class="row">
    {% for user in users %}
      {% if forloop.counter0|divisibleby:4 %}
          </div><br><div class="row">
      {% endif %}
      <div class="col-md-3">
        <a href="{% url 'UserDetails' u_id=user.id %}"><div class="card bg-default">
          <div class="card-body text-center">
            <br>
            <p class="card-text " >
                  <img alt="Bootstrap Image Preview" src="{{ baseUrl }}home/profile_pic/{{user.pic_path}}" height="199" width="160" class="rounded-circle" />
            </p>
            <hr>
            <h4 class="text-info">
              {{user.name}}
            </h4>
          </div>
        </div></a>
      </div>
    {% endfor %}
</div>


  </body>
</html>
