{% load static %}
{% static "" as baseUrl %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script-->
    <script type="text/javascript" src="{% static 'home/js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </head>
  <body>

    <div class="container-fluid " style="margin-top:30px;">


          <div class="card mx-auto" style="width:50%;">

            <h5 class="card-header text-center">
              <p class="card-text"><span>{{user.name}}</span>
                <a href="{% url 'home' %}" class="btn btn-outline-primary float-right">Back</a>
              </p>
            </h5>
            <br>
            <div class="card-body text-center">
              <div class="card-text" >
                {% if messages %}

                  <div class="alert alert-success">
                    {% for message in messages %}
                    <strong>{{message}}</strong>
                    {% endfor %}
                  </div>

                {% endif %}
              <img alt="Bootstrap Image Preview" src="{{ baseUrl }}home/profile_pic/{{user.pic_path}}" height="192" width="192" class="rounded-circle" />
              <hr>
              <dl>
                <dt>
                  E-mail
                </dt>
                <dd>
                  {{user.email}}
                </dd>
                <dt>
                  Description
                </dt>
                <dd>
                <p align="left">
                    {{user.desc}}
                </p>
                </dd>
                <dt>
                  Points Available
                </dt>
                <dd>
                <p>
                    {{user.current_points}}
                </p>
                </dd>
                <button id="modal-722249" class="btn btn-outline-primary" data-toggle="modal" data-target="#points" >Transfer points</button>
              </dl>
      </div>
    </div>
  </div>
      <br><br>
</div>
<div class="row" style="padding:30px;">
  <div class="col-md-6">
    <div class="card" style="padding:5px;">
      <h5 class="card-header text-center">
        Points given
      </h5>
      <div class="card-body">
        <table class="table table-hover">
              <thead>
                <tr>
                  <th>
                    To Whom
                  </th>
                  <th>
                    Points
                  </th>
                  <th>
                    When
                  </th>
                </tr>
              </thead>
              <tbody>
        {% for i in points_given %}
                <tr>
                  <td>
                    {{i.to_whom.name}}
                  </td>
                  <td>
                    {{i.credits_transfered}}
                  </td>
                  <td>
                    {{i.update_time}}
                  </td>
                </tr>
        {% endfor %}
            </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="padding:5px;">
      <h5 class="card-header text-center">
        Points Received
      </h5>
      <div class="card-body">
        <table class="table table-hover">
              <thead>
                <tr>
                  <th>
                    By Whom
                  </th>
                  <th>
                    Points
                  </th>
                  <th>
                    When
                  </th>
                </tr>

              </thead>
              <tbody>
            {% for i in points_received %}
                <tr>
                  <td>
                    {{i.who_transfered.name}}
                  </td>
                  <td>
                    {{i.credits_transfered}}
                  </td>
                  <td>
                    {{i.update_time}}
                  </td>
                </tr>
              {% endfor %}
            </table>
      </div>

</div>
</div>
</div>



<!-- modal-->
<div class="modal fade" id="points" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="FullModal">
        <ul class="errorMessages"></ul>
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">
            Transfer points
          </h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="TransferForm" method="post" action="{% url 'TransferAction' %}" >
            {% csrf_token %}
            <input type="hidden" value="{{user.id}}" name="fromm" />


            <div class="form-group">
              <label >Enter Points to be transfered </label>
              <input class="form-control" type="number"  aria-describedby="emailHelp" placeholder="Enter points to be transfered" min="1" max="{{user.current_points}}"  name="points" required>
            </div>
            <div class="form-group">
              <label >Select User</label>
              <select class="form-control" id="FormControl" name="to_whom">
                {% for u in other_users %}
                <option value="{{u.id}}">{{u.name}}</option>
                {% endfor %}
              </select>
            </div>


          <br>
        <div class="modal-footer">

          <button type="submit" class="btn btn-primary" >
            Transfer
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </form>
        </div>
      </div>

    </div>

  </div>

  </body>
</html>
